* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
}
nav{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
}
.wrapper {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  padding:.9em .1em;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1.5px;
  
}

.logo {
  color: rgb(17, 147, 199);
}
ul {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
#marker {
  position: absolute;
  width: 0;
  bottom:0;
  left: 0;
  height: 5px;
  background-color: rgb(17, 147, 199);
  bottom: -4px;
  transition: all .3s linear;
  border-radius: 4px;
}

a {
  margin: 0 0.6rem;
  padding: 0.3em;
  color: black;
  font-size: 1.5rem;
  font-weight: 800;

}
main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
}

.container {
  margin: auto;
  background-color: black;
  color: white;
  margin-bottom: 0.8em;
  border-radius: 10px;
  box-shadow: 0 9px 9px rgba(0, 0, 0, 0.5);
  padding: .2em 0;
  max-width: 900px;
}
.container h2 {
  font-size: 3rem;
  padding: 10px;
}
.wrapper2{
  width: 80%;
  margin: 0 auto;
}
.color {
  margin-left: 1.5em 0;
  letter-spacing: 3px;
  color: blueviolet;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 9px;
}
#btn {
  font-size: 1.6rem;
  padding: 0.3em 0.8em;
  background: transparent;
  border-radius: 6px;
  border: transparent;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.6);
  outline: none;
}

@media (max-width: 700px) {
  .wrapper{
    letter-spacing: normal;
    align-items: center;
    font-size: .8rem;
  }
  .wrapper li a{
    font-size: 1.2rem;
  }
  .wrapper2{
    font-size: 0.2rem;
    padding: 0;
  }
 
}
@media (max-width:460px){
  .wrapper{
    width: 100%;
  }
  .wrapper li a{
    font-size: .75rem;
  }
  .wrapper2{
    font-size: 0.2rem;
    padding: 0;
  }
  .wrapper2 .container h2, .color{
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
 
}
@media (max-width: 352px){
  ul{
    margin-right: 0;
  }
  .wrapper li a{
    font-size: 0.72rem;
    margin: 0.2em;
  }
}

